body, html {
    width: 100%; /* Set the desired fixed width for your webpage */
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px; /* Add padding for content spacing */
}
nav{
    width: 100%;
    background-color: #111;
    height: 50;
  


}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}

nav li {
    float: left;
    position: relative;

}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;

   
}

nav li a:hover {
    background-color: #82a7a3;
}





footer div a{
    text-decoration: none; /* Remove underline */
    color: white; /* Set text color to white */
}




